.center {
    text-align: center;
}

.title {

    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 3em;
        font-weight: bold;
        margin: 0 0 1.5em;
    }
}